#Data Structure

### Q1. What are data structures, and why are they important?
  - Data structures are ways to organize and store data efficiently. They help in optimizing performance and memory usage and are essential for solving real-world programming problems effectively.

### Q2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be changed after creation (e.g., list, dict, set).
  - Immutable data types cannot be altered once created (e.g., int, str, tuple).
 - my_list = [1, 2]; my_list[0] = 5  # Valid (mutable)  
 -my_str = "hello"; my_str[0] = "H"  # Error (immutable)


### Q3. What are the main differences between lists and tuples in Python?
  - Lists are mutable, while tuples are immutable.
  - Lists use square brackets [ ], tuples use parentheses ( ).
  -Lists are slower but flexible; tuples are faster and used for fixed data.

### Q4. Describe how dictionaries store data.
  - Dictionaries use key-value pairs and store them in a hash table. Keys are hashed, and the values are placed at corresponding hash indices, enabling fast retrieval.

### Q5. Why might you use a set instead of a list in Python?
  - Sets automatically remove duplicates and offer faster membership testing (in) compared to lists.

### Q6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters.
  -A list is mutable and can store any data type.
Example: You can change list elements, but not string characters.

### Q7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning once created, their values can’t be changed. This prevents accidental data modification and helps maintain consistency.

### Q8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using a hash function.
  - Python dictionaries use hash tables for fast key-based access.

### Q9. Can lists contain different data types in Python?
    - Yes, Python lists can store elements of different types like integers, strings, floats, or even other lists.

### Q10. Explain why strings are immutable in Python.
  - Strings are immutable for performance, memory efficiency, and security. Modifying a string creates a new object rather than changing the original one.

### Q11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provide faster access via keys (O(1)) compared to searching by value in lists (O(n)). They’re ideal for structured, labeled data.

### Q12. Describe a scenario where using a tuple would be preferable over a list.
  - When you need a fixed set of values, like coordinates (x, y) or days of the week. Tuples prevent unintended modifications.

### Q13. How do sets handle duplicate values in Python?
  - Sets automatically eliminate duplicate entries.

### Q14. How does the in keyword work differently for lists and dictionaries?
  - In lists, in checks if a value exists.
  - In dictionaries, in checks for the existence of a key.

### Q15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you can’t. Tuples are immutable, so their contents cannot be changed after creation.

### Q16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary contains another dictionary as a value.
 - Example:
 - students = {"Alice": {"age": 25, "grade": "A"}}
 - Use case: Representing complex, hierarchical data like JSON.

### Q17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing a value by key in a dictionary is on average O(1) due to the underlying hash table structure.

### Q18. In what situations are lists preferred over dictionaries?
  - When data order is important, when values are accessed by position/index, or when the structure doesn't need key-value pairs.

### Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Prior to Python 3.7, dictionaries didn’t preserve order. Even now, key-based access doesn’t rely on order, so retrieval is based on keys, not position.

### Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists use indexes to access elements by position.
  - Dictionaries use keys to access values directly, which is faster and more intuitive for labeled data.

# Practical Questions

### Q1. Write a code to create a string with your name and print itP

In [1]:
 s= "Abhishek"
 print(s)

Abhishek

### Q2. Write a code to find the length of the string "Hello World"

In [2]:
s= "Hello World"
print( len(s))

11

### Q3. Write a code to slice the first 3 characters from the string "Python Programming.

In [3]:
st= "Python Programming."
print(st[0:3])

Pyt

### Q4. Write a code to convert the string "hello" to uppercase.

In [4]:
ss =  "hello"
print(ss.upper())

HELLO

### Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

### Q6.  Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
li=[1,2,3,4]
li.append(10)
print(li)

[1, 2, 3, 4, 10]

### Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
a = [1,2,3,4,5]

a.remove(3)
print(a)

[1, 2, 4, 5]

### Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
li= ['a', 'b', 'c', 'd']
print(li[1])

b

### Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
li = [10, 20, 30, 40, 50]
print(li[::-1])

In [12]:
li = [10, 20, 30, 40, 50]
print(li[::-1])

[50, 40, 30, 20, 10]

### Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:

tup=(100,200,300)
print(tup)
print(type(tup))

(100, 200, 300)
<class 'tuple'>

### Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

### Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
tup = (10, 20, 5, 15)
s=min(tup)
print(s)

5

### Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

### Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [20]:
fut = ("kiwi","mango","peach")
if("kiwi" in fut):
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not found")

Kiwi is in the tuple

### Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
s = {'a','b','c'}
print(s)
print(type(s))

{'a', 'b', 'c'}
<class 'set'>

### Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s= {1, 2, 3, 4, 5}
s.clear()
print(s)

In [22]:
s= {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [24]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.



---

In [25]:
a = {1, 2, 3}
b = {3, 4, 5}
c = a | b
print(c)

{1, 2, 3, 4, 5}

### Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [26]:
a = {1, 2, 3}
b = {2, 3, 4}
c = a & b
print(c)

{2, 3}

### Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person)

### Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**bold text**

In [ ]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

### Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

### Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
info = {'name': 'Alice', 'city': 'Paris'}
if 'city' in info:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

### Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [30]:
li = [57, 99, 21, 60, 15]
li.sort()
print(li)

[15, 21, 57, 60, 99]

### Q28. Write a code to create a list with strings and print the element at the third index.

In [31]:

li =["andy", "jim", "pan", "michle" ,"dwight"]
print(li[3])

michle

### Q29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print("Combined dictionary:", dict1)

### Q30. Write a code to convert a list of strings into a set.

In [35]:
li = [1,2,3,4,5,6]
print(type(li))
s=set(li)
print(s)
print(type(s))

<class 'list'>
{1, 2, 3, 4, 5, 6}
<class 'set'>